<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Simulator</title>
    <style>
        table {
            height: 80v;
            border-collapse: collapse;
            table-layout: fixed;
        }

        td {
            width: 25px;
            height: 25px;
        }

        .step-box {
        width: 500px;
        height: 100px;
        border-radius: 10px;
        background-color: lightgrey;
        }

        .btn-round {
            width: 50px;
            height: 50px;
            border-radius:100px;
            background-color: white;
        }
    </style>

    <table id="defaultGridTable"></table>

    <script>
        let obstacles = {{ obstacles | tojson | safe}};
        function default_grid() {
            let rows = [];
            for (var i = 19; i >=0; i--) {
                rows.push('<tr>');
                rows.push('<td>' + i + '</td>');
                for (var j = 0; j <= 19; j++) {
                    rows.push('<td style="border: 1px solid black;"> </td>');
                }
                rows.push('</tr>');
            }
            rows.push('<tr>');
            rows.push('<td></td>');
            for(var k = 0; k<=19; k++){
                rows.push('<td>' + k + '</td>');
            }
            rows.push('</tr>');
            return rows;
        }

        function displayDefaultGrid() {
            // Get the table element
            const defaultGridTable = document.getElementById("defaultGridTable");

            // Call the default_grid function to get the HTML rows
            const rows = default_grid();

            // Set the innerHTML of the table with the generated rows
            defaultGridTable.innerHTML = rows.join('');
        }

        
        function create_grid(){
            // get default grid
            rows = default_grid();
            // populate the obstacles
            for (let l = 0; l < obstacles.length; l++) {
                let obstacle = obstacles[l];
                let x = Number(obstacle.x);
                let y = Number(obstacle.y); 
                
                
                let index =  (19-y)*23 + x + 2;
                switch (obstacle.d) {
                    case '0':
                        rows[index] = '<td style="background-color: blue;border-top: 4px solid red;"></td>';
                        break;
                    case '2':
                        rows[index] = '<td style="background-color: blue;border-right: 4px solid red;"></td>';
                        break;
                    case '4':
                        rows[index] = '<td style="background-color: blue;border-bottom: 4px solid red;"></td>';
                        break;
                    case '6':
                        rows[index] = '<td style="back.onload ground-color: blue;border-left: 4px solid red;"></td>';
                        break;
                    case '8': 
                        rows[index] = '<td style="background-color: blue;"></td>';
                        break;
                    default:
                        rows[index] = '<td style="border: 1px solid black;"></td>';;
                }       
            }
            return rows.join('');
            
        } 

        function transformCoord(x, y) {
            // Change the coordinate system from (0, 0) at top left to (0, 0) at bottom left
            return { x: 19 - y, y: x };
        }
        

        function generateRobotCells()
        {
            const robotCells = [];
            let markerX = 0;
            let markerY = 0;

            if (Number(robot.d) === Direction.NORTH){
                markerY++;
            } else if (Number(robot.d) === Direction.EAST){
                markerX++;
            } else if (Number(robot.d) === Direction.SOUTH){
                markerY--;
            } else if (Number(robot.d) === Direction.WEST){
                markerX--;
            }

            // Go from i = -1 to i = 1
            for (let i = -1; i < 2; i++)
            {
                // Go from j = -1 to j = 1
                {
                    for (let j = -1; j < 2; j++)
                    {
                        // Transform the coordinates to our coordinate system where (0, 0) is at the bottom left
                        const coord = transformCoord(robot.x + i, robot.y + j);
                        // If the cell is the marker cell, add the robot state to the cell
                        if (markerX === i && markerY === j)
                        {
                            robotCells.push({
                                x: coord.x,
                                y: coord.y,
                                d: robot.d,
                                s: robot.s,
                            });
                        } 
                        else 
                        {
                            robotCells.push({
                                x: coord.x,
                                y: coord.y,
                                d: null,
                                s: -1
                            });
                        }

                        }
                    }
                }

                return robotCells
        }

        

        document.addEventListener('DOMContentLoaded', function () {
            // Call the default_grid function and set the generated HTML as innerHTML of the table-container
            document.getElementById('table-container').innerHTML = '<table>' + create_grid() + '</table>';
        });

        
    </script>
</head>
<body>
    <center><h1>Simulator</h1></center>
    <div style="display:flex; flex-direction: row;justify-content: space-evenly;align-items: flex-start;"> 
        <!-- Displaying robot and obstacle details -->
        <div style="display:flex;flex-direction: column;">
            <div>    
                <form action="{{ url_for('add_obstacle') }}" method="post">
                    <label for="obstacle">Add obstacle:</label>
                    <input type="number" id="x" name="x" required min="0" max="19" placeholder="x">
                    <input type="number" id="y" name="y" required min="0" max="19" placeholder="y">
                    <select type="number" id="direction" name="direction" required placeholder="direction">
                            <option value="0">North</option>
                            <option value="2">East</option>
                            <option value="4">South</option>
                            <option value="6">West</option>
                            <option value="8">Skip</option>
                    </select>
                    <button type="submit">Add</button>
                </form>
            </div>
            <div>
                {% if obstacles|length > 0 %}
                <h1>Obstacles:</h1>
                {% for obstacle in obstacles %}
                    <span class="badge">
                    <div style="display:flex; flex-direction: row;justify-content: space-evenly;align-items: flex-start;
                                width:250px;border: 1px solid grey;background-color: lightgray; border-radius: 10px; padding:5px">
                        <div style="width: 40px;">x: {{ obstacle.x }}</div>
                        <div style="width: 40px;">y: {{ obstacle.y }}</div>
                        {% if obstacle.d == "0" %}
                        <div style="width: 120px;">direction: North</div>
                        {% elif obstacle.d == "2" %}
                        <div style="width: 120px;">direction: East</div>                                
                        {% elif obstacle.d == "4" %}
                        <div style="width: 120px;">direction: South</div>  
                        {% elif obstacle.d == "6" %}
                        <div style="width: 120px;">direction: West</div>  
                        {% else %}
                        <div style="width: 120px;">direction: Skip</div>  
                        {% endif %}
                        <div>
                            <a href="{{ url_for('delete_obstacle', obstacle_json=(obstacle|tojson)) }}"
                            style="text-decoration: none;"><i class="fas fa-times cross"></i></a>
                        </div>
                    </div>
                    <div style="padding: 5px;"></div>
                    </span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- Displaying Simulator Grids -->
        <div style="display:flex;flex-direction: column;align-items: center;">
            <div id="table-container" style="padding:5px"></div>
            <!-- Displaying steps -->
            <div class="step-box" style="display:flex;align-items: center;padding:5px; justify-content: space-evenly;">
                {%if path|length > 0 and position > 0 %}
                    <form action="/prev_step" method="get">
                        <button class="btn-round" type="submit"><</button>
                    </form>
                {% else %}
                    <form action="/prev_step" method="get">
                        <button class="btn-round" type="submit" disabled><</button>
                    </form>
                {% endif %}


                {%if path|length > 0 and position < (path|length - 1) %}
                    <form action="/next_step" method="get">
                        <button class="btn-round" type="submit">></button>
                    </form>
                {% else %}
                    <form action="/next_step" method="get">
                        <button class="btn-round" type="submit" disabled>></button>
                    </form>
                {% endif %}

            </div>
        </div>

    </div>
</body>
</html> 